html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    font-size: 2rem;
}

img {
    display: block;
    width: 100%;
}

// STRIP ALL STYLES
*, fieldset, p, h1, h2 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}
