header, footer {
    text-align: center;
    p{
        margin: 10px;
    }
    
}

header {
    background-image: linear-gradient(rgba(22, 22, 54, 0.85)), url(./../assets/soccer-ball-in-grass-bw.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 60vh;
    min-height: 150px;

    h1 {
        color: $primary-color;
        font-size: 5rem;
    }

    p {
        color: white;
    }
}

footer {
    color: white;
    background-color: $secondary-color;
    padding: 20px 0;
    font-size: 1.5rem;
}
