@media (max-width: 680px) {
    .main__ul-sports-btn,
    fieldset.main__fieldset-icon {
        max-width: 340px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width:460px) {
    .main__ul-sports-btn {
        max-width: 220px;
    }

    fieldset.main__fieldset-icon {
        max-width: 250px;
    }
}

