$primary-color: #FF7300;
$secondary-color: #161636;
$support-color: #d9e0e5;

$font: 'Inter', sans-serif;

$icon-size: 50px;
$card-min-width: 200px;
$btn-panel-width: 500px;
$wrapper-max-width: 1280px;