html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  color: #FF7300;
  font-size: 5rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
}

img {
  display: block;
  width: 100%;
}

*, fieldset, p, h1, h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 75%;
  max-width: 1280px;
  margin: 0 auto;
}

main {
  min-height: 50vh;
  padding: 20px 0;
  background-color: #d9e0e5;
}

main p:first-of-type {
  text-align: center;
}

.main__ul-sports-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  margin: 0 auto;
}

.main__ul-sports-btn button {
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 10px;
  background-color: #161636;
  border-radius: 50%;
  border: none;
}

.main__ul-sports-btn button:focus-within {
  background-color: #FF7300;
}

.main__ul-sports-btn button img {
  width: 50px;
  height: 50px;
}

.main__form {
  display: none;
  text-align: center;
}

.main__form fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
}

.main__form fieldset legend {
  margin: 0 auto;
}

.main__form fieldset.main__fieldset-icon {
  width: 500px;
  margin: 0 auto;
}

.main__form input {
  position: absolute;
  z-index: -10;
}

.main__form input:focus + label, .main__form input:checked + label {
  background-color: #FF7300;
}

.main__form label, .main__form button {
  border-radius: 10px;
  border: 1px solid black;
  margin: 20px 10px;
}

.main__form label.main__label-icon {
  border-radius: 50%;
}

.main__form label {
  color: white;
  background-color: #161636;
  padding: 20px;
}

.main__form label img {
  height: 50px;
  width: 50px;
}

.main__form button {
  color: #161636;
  background-color: white;
  padding: 20px 30px;
}

.main__form button:focus, .main__form button:hover {
  background-color: #FF7300;
}

.form--active {
  display: block;
}

.main__ul-sports-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__ul-sports-location li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100%/3 - 20px);
          flex: 1 0 calc(100%/3 - 20px);
  min-width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.main__ul-sports-location li .main__div-address {
  text-align: center;
}

header, footer {
  text-align: center;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 54, 0.85))), url(./../assets/soccer-ball-in-grass-bw.jpg);
  background-image: linear-gradient(rgba(22, 22, 54, 0.85)), url(./../assets/soccer-ball-in-grass-bw.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  height: 60vh;
  min-height: 150px;
}

header p {
  color: white;
}

footer {
  color: white;
  background-color: #161636;
  padding: 20px 0;
  font-size: 1.5rem;
}

@media (max-width: 680px) {
  .main__ul-sports-btn,
  fieldset.main__fieldset-icon {
    max-width: 340px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 460px) {
  .main__ul-sports-btn {
    max-width: 220px;
  }
  fieldset.main__fieldset-icon {
    max-width: 250px;
  }
}
